<div class="center hero-unit">
  <h1>Welcome to the Expense Book</h1>

  <h2>
    This application keeps track of your day to day expense and generates category wise - weekly, monthly and yearly reports
  </h2>

  <%= link_to "Sign up now!", 'signup_path', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("expense.jpeg", alt: "ExpenseBook"), '#' %>
